<script>
    function UserAction() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("output").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "http://127.0.0.1:5000/api/currenttime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();

    }
</script>

<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading">Clockwork Exercise</h1>
    <p class="lead">The goal of this exercise is to get this solution up and running as part of the interview process to AWH.</p>
    <p class="lead">
        <a href="https://bitbucket.org/awhcode/clockwork-repo" target="_blank" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</main>

<h2 class="mt-5">AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
